= simple_form_for [:admin, @comment] ,:html => { :class => 'edit-comment form-horizontal' } do |f|
  = f.input :content
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_comments_path, :class => 'btn'
