- model_class = Comment
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:creator)
      %th= model_class.human_attribute_name(:content)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.creator.nickname
        %td= comment.html_content.html_safe
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_comment_path(comment), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_comment_path(comment), :method => :delete, 
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_admin_comment_path, :class => 'btn btn-primary'
