- model_class = Comment
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:creator) + ':'
  %br
  = @comment.creator.nickname
  = @comment.html_content
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), admin_comments_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_comment_path(@comment), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_comment_path(@comment), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
