<h3>用户注册</h3>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal'} ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nickname, :required => true, :autofocus => true  %>
    <%= f.input :email, :required => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "注册" %>
  </div>
<% end %>
