.votings.pull-right(id="#{votable.class.to_s}-#{votable.id}")
  .voted-up
    =link_to "#{votable.votings_up_count} Up", vote_up_url( votable_type: votable.class.to_s, votable_id: votable.id ), method: :put, remote: true
  .voted-down
    =link_to "#{votable.votings_down_count} Down",  vote_down_url( votable_type: votable.class.to_s, votable_id: votable.id), method: :put, remote: true