$('#notice').append('<div class="voting-alert alert"> #{ j( flash.discard[:error] || flash.discard[:notice] ) } </div>')
window.setTimeout(function() {
$(".voting-alert").fadeTo(500, 0).slideUp(500, function(){
$(this).remove(); 
});
}, 2000);

$(' ##{@votable.class.to_s}-#{@votable.id.to_s} ').replaceWith("#{  j( render('votings/votings', votable: @votable ) ) }")