= simple_form_for(@comment, :url => polymorphic_url([commentable, @comment])) do |f|
  = f.error_notification

  .form-inputs
    = f.input :commentable_id, as: :hidden
    = f.input :commentable_type, as: :hidden
    = f.input :content, as: :mdtext_area, input_html: { :class => 'wmd-input', :rows => 10 }

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
