%h1 Listing comments

%table
  %tr
    %th Commentable
    %th Content
    %th Creator
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.commentable_id
      %td= comment.content
      %td= comment.creator_id
      %td= link_to 'Show', comment
      %td= link_to 'Edit', edit_comment_path(comment)
      %td= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Comment', new_comment_path
