= simple_form_for(@topic, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.association :node, collection: Node.all, required:true
    = f.input :title
    = f.input :content
    
    = f.input :block_comments

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
