%h3 Topics

.topics-list
  - @topics.each do |topic|
    .topic.clearfix
      .topic-creator.pull-left
        = medium_avatar topic.creator
        = topic.creator.nickname
      .topic-brief.pull-left
        .topic-title
          = link_to topic.title, topic_path(topic)
        .topic-content
          = topic.content
        .topic-comment
          #{topic.comments_count} 条回复,最后回复：#{topic.last_replied_by}
      .topic-votings.pull-right
        .topic-voted-up
          = topic.votings_up_count
        .topic-voted-down
          = topic.votings_down_count

= content_for :sidebar do
  - if user_signed_in?
    .bookmarks-count
      #{current_user.bookmarks_count} 个收藏
    = link_to 'New Topic', new_topic_path, :class => 'btn btn-primary'