%p#notice= notice

.topic-wrapper
  = render partial: 'votings/votings', locals: { votable: @topic }
  %h3
    = @topic.title
  .topic-meta
    作者：
    = @topic.creator.nickname
    发布日期：
    = @topic.updated_at
    最后回复：
    = @topic.last_replied_by
  .topic-content
    = @topic.content
  .topic-like
    - if user_signed_in?
      - unless @topic.bookmarked_by?(current_user)
        = link_to '收藏', bookmark_topic_path(@topic), method: :put
      - else
        = link_to '取消收藏', unbookmark_topic_path(@topic), method: :put
- if @topic.block_comments?
  %h6
    本贴禁止了回复功能
-else
  %h3
    评论
  .topic-comments-wrapper
    - @topic.comments.each_with_index do |comment, index|
      .comment-wrapper
        = render partial: 'votings/votings', locals: { votable: comment }
        .comment-creator
          %span.floor
            #{index+1}楼
          ,
          %span.name
            #{ comment.creator.nickname } 
          说: 
        .comment-content
          = comment.html_content.html_safe
        .reply-comment
          =link_to '回复', '', :onclick => 'return false;'
  = render partial: 'comments/form', locals: { commentable: @topic } 

= content_for :sidebar do
  - if user_signed_in?
    .bookmarks-count
      #{current_user.bookmarks_count} 个收藏
    = link_to 'New Topic', new_topic_path, :class => 'btn btn-primary'