= simple_form_for [:admin, @topic] ,:html => { :class => 'edit-topic form-horizontal' } do |f|
  = f.input :title
  = f.input :content
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_topics_path, :class => 'btn'
