- model_class = Topic
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @topics.each do |topic|
      %tr
        %td= link_to topic.title, topic_path(topic)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_topic_path(topic), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_topic_path(topic), :method => :delete, 
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_admin_topic_path, :class => 'btn btn-primary'
