= simple_form_for(@notification) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :message
    = f.input :action
    = f.input :action_user_id
    = f.input :unread
    = f.input :notifiable_id
    = f.input :notifiable_type

  .form-actions
    = f.button :submit
