%h1 Listing notifications

%table
  %tr
    %th User
    %th Message
    %th Action
    %th Action user
    %th Unread
    %th Notifiable
    %th Notifiable type
    %th
    %th
    %th

  - @notifications.each do |notification|
    %tr
      %td= notification.user_id
      %td= notification.message
      %td= notification.action
      %td= notification.action_user_id
      %td= notification.unread
      %td= notification.notifiable_id
      %td= notification.notifiable_type
      %td= link_to 'Show', notification
      %td= link_to 'Edit', edit_notification_path(notification)
      %td= link_to 'Destroy', notification, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Notification', new_notification_path
