%p#notice= notice

%p
  %b User:
  = @notification.user_id
%p
  %b Message:
  = @notification.message
%p
  %b Action:
  = @notification.action
%p
  %b Action user:
  = @notification.action_user_id
%p
  %b Unread:
  = @notification.unread
%p
  %b Notifiable:
  = @notification.notifiable_id
%p
  %b Notifiable type:
  = @notification.notifiable_type

= link_to 'Edit', edit_notification_path(@notification)
\|
= link_to 'Back', notifications_path
