= simple_form_for [:admin, @node] ,:html => { :class => 'edit-node form-horizontal' } do |f|
  = f.input :name
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_nodes_path, :class => 'btn'
