- model_class = Node
.page-header
  %h1=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human

= simple_form_for [:admin, @node], :html => { :multipart => true, :class => 'edit-admin-node form-horizontal' } do |f|
  = f.input :name
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_nodes_path, :class => 'btn'

