- model_class = Node
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @node.name
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), admin_nodes_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_node_path(@node), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_node_path(@node), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
