%fieldset
  %legend
    现在的头像
  .span
    = large_avatar @user
    大头像
  .span
    = medium_avatar @user
    中头像
  .span
    = thumb_avatar @user
    小头像

%fieldset
  %legend
    上传新头像
  
  = simple_form_for @user, :url => update_avatar_path, :html => { :multipart => true, :class => 'edit-avatar form-horizontal' } do |f|
    = f.input :avatar, :label => ''

    .form-actions
      = f.submit '更新头像', :class => 'btn btn-primary'