- if !user.followings.blank?
  %h4
    my followings
  %table
    %thead
      %tr
        %td
        %td
    %tbody
      - user.followings.each do |following|
        %tr{ :id => "following_#{following.id.to_s }" }
          %td 
            = following.nickname
          %td
            = link_to 'unfollow', unfollow_user_path(following, :target => "following_#{following.id.to_s }" ), 
                method: :put, :class => 'btn btn-primary', :remote => true