- if !user.followers.blank?
  %h4
    my followers
  %table
    %thead
      %tr
        %td
        %td
    %tbody
      - user.followers.each do |follower|
        %tr
          %td 
            = follower.nickname
          %td
            = link_to 'remove', remove_follower_user_path(user), method: :put, :class => 'btn btn-primary'
