= simple_form_for @user, :url => update_account_path, :html => { :class => 'edit-user form-horizontal' } do |f|
  = f.input :nickname
  = render :partial => 'account_form', :locals => {:f => f}

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
