- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:avatar)
      %th= model_class.human_attribute_name(:nickname)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @users.each do |user|
      - next if user == current_user
      %tr
        %td= thumb_avatar user
        %td
          = link_to user.nickname, user_path(user)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(user), :class => 'btn btn-mini btn-primary'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete, 
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_user_path, :class => 'btn btn-primary'
