.page-header
  %h4 #{ @unread ? '未读通知' : '已读通知' }
%table.table.table-striped
  %tbody
    - @notifications.each do |nf|
      %tr
        %td= nf.notification_title.html_safe
      %tr
        %td= nf.notification_message.html_safe
      %tr
        %td