- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:nickname) + ':'
  %br
  = @user.nickname
%p
  %strong= model_class.human_attribute_name(:avatar) + ':'
  %br
  = medium_avatar @user
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @user.email


- if current_user == @user
  = render partial: 'followers', locals: { user: @user }
  = render partial: 'followings', locals: { user: @user }
- elsif user_signed_in?
  .form-actions
    - if current_user.following?(@user)
      = link_to 'unfollow', unfollow_user_path(@user), method: :put, :class => 'btn btn-primary'
    - elsif current_user != @user
      = link_to 'follow', follow_user_path(@user), method: :put, :class => 'btn btn-primary'
