<h3>用户登陆</h3>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name) , :html => {:class => 'form-horizontal'} ) do |f| %>
  <div class="form-inputs">
    <%= f.input :nickname, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in", :class => "btn btn-primary"  %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "btn btn-primary" %>
  </div>
<% end %>
