%h1 this is the test email. yeah!
%p
  current user name is : #{@user.nickname}
  current user email is : #{@user.email}
%p
  to login, please click : #{ new_user_session_url }
%p thank you and have a nice day.
