// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.topic {
  margin: 10px 0;
  border: 1px solid black;
  padding: 10px;
}
.topic-creator { 
  width: 48px;
  padding-right: 10px;
} 

.topic-wrapper {
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 14px;
}
.comment-wrapper {
  border: 1px solid green;
  border-radius: 4px;
  padding: 14px; 
  margin: 20px 0;
  position: relative;
}
.reply-comment {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}