= simple_form_for [:admin, @user] ,:html => { :class => 'edit-user form-horizontal' } do |f|
  = f.input :nickname
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_users_path, :class => 'btn'
