%tr(id="#{user.id}")
  %td= user.nickname
  %td= user.blocked?
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_user_path(user), :class => 'btn btn-mini'
    = link_to user.blocked? ? '启用' : '禁用', toggle_blocked_admin_user_path(user), :class => 'btn btn-mini', :remote => true, :method => :put
    = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_user_path(user), :method => :delete, 
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-mini btn-danger'