- model_class = User

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:nickname)
      %th= model_class.human_attribute_name(:blocked)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @users.each do |user|
      = render partial: 'user_tr', locals: { user: user }

= link_to t('.new', :default => t("helpers.links.new")), new_admin_user_path, :class => 'btn btn-primary'
