- model_class = User
.page-header
  %h1=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human

= simple_form_for [:admin, @user], :html => { :multipart => true, :class => 'edit-admin-user form-horizontal' } do |f|
  = f.input :nickname
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_users_path, :class => 'btn'

